/* #F3F8FE */
/* #108AF9 */
/* #20202C */
/* #5e5e5e */
/* #aaaaaa */

/* base style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F8FE;
    color: #20202C;
}

/* global style */

input,textarea {
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 20px;
    outline: none;
    border: none;
    box-shadow:  0 0rem 1rem #00000008;
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    min-height: 80px;
}

input::placeholder{
    color: #616168 !important;
}

textarea {
    resize: vertical;
    max-height: 150px;
}

.margin-top-lg {margin-top: 3rem;}
.margin-top-md {margin-top: 2rem;}
.margin-top-sm {margin-top: 1rem;}

.margin-bottom-lg {margin-bottom: 3rem;}
.margin-bottom-md {margin-bottom: 2rem;}
.margin-bottom-sm {margin-bottom: 1rem;}

.container {
    width: 60%;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-primary {
    background-color: #108AF9;
    color: #fff;
    box-shadow:  0 1rem 1rem #1088f925;
}

.form__group {
    margin-bottom: 2rem;
    position: relative;
}

/* Form styling */

.add-task__section  input {
    padding-right: 10rem;
}

.stats{
    display: flex;
}

.stats__item {
    width: 33%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  0 0rem 1rem #00000008;
    font-weight: 500;
    color: #aaaaaa;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.stats__item > span {
    font-size: 1.7rem;
    font-weight: bold;
}

.task_count {
    color: #108AF9;
}
.task_updated {
    color: #2ac91b;
}
.task_deleted {
    color: #ff1058;
}

.stats__item:not(:last-child){
    margin-right: 2rem;
    
}

.add-task__btn, .update-task__btn {
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);
}

.update-task__btn {
    display: none;
}

/* Task list styling */

.task__lists {

}

.task__item--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow:  0 0rem 1rem #00000008;
    
}

.search {
    width: 100%;
}

.task__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;

}

.task__item:not(:last-child){
    border-bottom: 1px solid #f0f0f0;
}

.task__heading {
    margin-right: 1rem;
    font-size: 0.9rem;
    color: #5e5e5e;
}

.task__desc {
    color: #aaaaaa;
    font-weight: 600;
    font-size: 0.8rem;
    flex: 1;
}

.task__btn--area {
    align-self: flex-end;
}

.task__btn--area > button {
    cursor: pointer;
    font-size: 1.7rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.btn-edit i{
    color: #108AF9;
    margin-right: 0.8rem;
}

.btn-delete {
    color: #f91056;
}